.click-to-zoom-img {
    border-radius: 5px;
    cursor: zoom-in;
    transition: 0.3s;
}

.click-to-zoom-img:hover {opacity: 0.7; border: #808080 groove thin;}

/* The Modal (background) */
.click-to-zoom-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    -ms-overflow-style: none;  /* Hide scroll bar for IE and Edge */
    scrollbar-width: none;  /* Hide scroll bar for Firefox */
}

/* Hide scroll bar for Chrome, Safari and Opera*/
.click-to-zoom-modal::-webkit-scrollbar {
    display: none;
}

/* Modal Content (image) */
.click-to-zoom-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1300px;
}

/* Caption of Modal Image */
#click-to-zoom-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.click-to-zoom-modal-content, #click-to-zoom-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.click-to-zoom-close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.click-to-zoom-close:hover,
.click-to-zoom-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .click-to-zoom-modal-content {
        width: 100%;
    }
}